{{> "admin/header"}}
<div class="col-12 col-md-9 mt-3 mt-md-0 pl-0 pr-2">


  <div class="title-page col-12 p-2 pl-4 bg-dark">
    <h4 class="text-white font-weight-bold text-capitalize"> {{ page_title }} </h4>
  </div>
  <div class="col-12 bg-c-white p-2 pl-4 h-100 pb-1 pt-4">
    {{#if result}}
    <div class="col-12 alert alert-{{ternaryIf success 'success' 'danger'}} " role="alert">
      {{result}}
      <!-- We have sent a password reset link to your mailbox if it exists. -->
    </div>
    {{/if}}
    <form method="POST">

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nomInput"> <b>Nom</b></label>
          <input type="text" name="nom" value="{{personne.nom}}"
            class="{{ternaryIf myErrors.nom 'is-invalid' ''}} form-control" id="nomInput" aria-describedby="nomHelp">
          {{#if myErrors.nom }}
          <small id="nomHelp" class="form-text text-muted">{{ myErrors.nom }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="prenomInput"><b>Prénom</b></label>
          <input type="text" name="prenom" value="{{personne.prenom}}"
            class="{{ternaryIf myErrors.prenom 'is-invalid' ''}} form-control" id="prenomInput"
            aria-describedby="prenomHelp">
          {{#if myErrors.prenom }}
          <small id="prenomHelp" class="form-text text-muted">{{ myErrors.prenom }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nomArInput" class="text-bold"> <b> الاسم العائلي </b></label>
          <input type="text" name="nomAr" value="{{personne.nomAr}}"
            class="{{ternaryIf myErrors.nomAr 'is-invalid' ''}} form-control" id="nomArInput"
            aria-describedby="nomArHelp">
          {{#if myErrors.nomAr }}
          <small id="nomArHelp" class="form-text text-muted">{{ myErrors.nomAr }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="prenomArInput"><b>الاسم الشخصي</b> </label>
          <input type="text" name="prenomAr" value="{{personne.prenomAr}}"
            class="{{ternaryIf myErrors.prenomAr 'is-invalid' ''}} form-control" id="prenomArInput"
            aria-describedby="prenomArHelp">
          {{#if myErrors.prenomAr }}
          <small id="prenomArHelp" class="form-text text-muted">{{ myErrors.prenomAr }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="CINInput"> <b>CIN</b></label>
          <input type="text" name="CIN" value="{{personne.CIN}}"
            class="{{ternaryIf myErrors.CIN 'is-invalid' ''}} form-control" id="CINInput" aria-describedby="CINHelp">
          {{#if myErrors.CIN }}
          <small id="CINHelp" class="form-text text-muted">{{ myErrors.CIN }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="dateNaissanceInput"><b>Date de naissance </b></label>
          <input type="Date" name="dateNaissance" value={{ dateFormat personne.dateNaissance 'yyyy-MM-DD' }}
            class="{{ternaryIf myErrors.dateNaissance 'is-invalid' ''}} form-control" id="dateNaissanceInput"
            aria-describedby="dateNaissanceHelp">
          {{#if myErrors.dateNaissance }}
          <small id="dateNaissanceHelp" class="form-text text-muted">{{ myErrors.dateNaissance }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="lieuNaissanceInput"> <b>Lieu de naissance</b></label>
          <input type="text" name="lieuNaissance" value="{{personne.lieuNaissance}}"
            class="{{ternaryIf myErrors.lieuNaissance 'is-invalid' ''}} form-control" id="lieuNaissanceInput"
            aria-describedby="lieuNaissanceHelp">
          {{#if myErrors.lieuNaissance }}
          <small id="lieuNaissanceHelp" class="form-text text-muted">{{ myErrors.lieuNaissance }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="lieuNaissanceArInput"><b>مكان الازدياد</b></label>
          <input type="text" name="lieuNaissanceAr" value="{{personne.lieuNaissanceAr}}"
            class="{{ternaryIf myErrors.lieuNaissanceAr 'is-invalid' ''}} form-control" id="lieuNaissanceArInput"
            aria-describedby="lieuNaissanceArHelp">
          {{#if myErrors.lieuNaissanceAr }}
          <small id="lieuNaissanceArHelp" class="form-text text-muted">{{ myErrors.lieuNaissanceAr }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="situationFamilialeInput"> <b>Situation familiale</b></label>

          <select name="situationFamiliale"
            class="{{ternaryIf myErrors.situationFamiliale 'is-invalid' ''}} form-control"
            aria-describedby="situationFamilialeHelp" id="situationFamilialeInput">
            <option></option>
            {{#each situations}}
            <option value={{@key}} {{ ternaryIf (iff ../personne.situationFamiliale '==' @key) 'selected' ''}}>
              {{ translate this}}</option>
            {{/each }}
          </select>
          {{#if myErrors.situationFamiliale }}
          <small id="situationFamilialeHelp" class="form-text text-muted">{{ myErrors.situationFamiliale }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="nbEnfantsInput"><b>Nombre d'enfants</b></label>
          <input type="number" name="nbEnfants" value="{{personne.nbEnfants}}"
            class="{{ternaryIf myErrors.nbEnfants 'is-invalid' ''}} form-control" id="nbEnfantsInput"
            aria-describedby="nbEnfantsHelp">
          {{#if myErrors.nbEnfants }}
          <small id="nbEnfantsHelp" class="form-text text-muted">{{ myErrors.nbEnfants }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="emailInput"><b>Email</b></label>
          <input type="email" name="email" value="{{personne.email}}"
            class="{{ternaryIf myErrors.email 'is-invalid' ''}} form-control" id="emailInput"
            aria-describedby="emailHelp">
          {{#if myErrors.email }}
          <small id="nomHelp" class="form-text text-muted">{{ myErrors.email }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="adresseInput"><b>Adresse</b></label>
          <input type="text" name="adresse" value="{{personne.adresse}}"
            class="{{ternaryIf myErrors.adresse 'is-invalid' ''}} form-control" id="adresseInput"
            aria-describedby="adresseHelp">
          {{#if myErrors.adresse }}
          <small id="nomHelp" class="form-text text-muted">{{ myErrors.adresse }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="gsmInput"> <b>GSM</b></label>
          <input type="text" name="gsm" value="{{personne.gsm}}"
            class="{{ternaryIf myErrors.gsm 'is-invalid' ''}} form-control" id="gsmInput" aria-describedby="gsmHelp">
          {{#if myErrors.gsm }}
          <small id="gsmHelp" class="form-text text-muted">{{ myErrors.gsm }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="numFixInput"><b>Numéro de FIX </b></label>
          <input type="text" name="numFix" value="{{personne.numFix}}"
            class="{{ternaryIf myErrors.numFix 'is-invalid' ''}} form-control" id="numFixInput"
            aria-describedby="numFixHelp">
          {{#if myErrors.numFix }}
          <small id="numFixHelp" class="form-text text-muted">{{ myErrors.numFix }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="matriculeVehiculeInput"> <b>Matricule de véhicule</b></label>
          <input type="text" name="matriculeVehicule" value="{{personne.matriculeVehicule}}"
            class="{{ternaryIf myErrors.matriculeVehicule 'is-invalid' ''}} form-control" id="matriculeVehiculeInput"
            aria-describedby="matriculeVehiculeHelp">
          {{#if myErrors.matriculeVehicule }}
          <small id="matriculeVehiculeHelp" class="form-text text-muted">{{ myErrors.matriculeVehicule }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6 row">
          <label for="photoInput" class="col-12"><b>Photo personnelle</b></label>
          <input class="col-12" type="file" name="photo" id="photoInput" aria-describedby="photoHelp">
          {{#if myErrors.photo }}
          <small id="photoHelp" class="form-text text-muted col-12">{{ myErrors.photo }}</small>
          {{/if}}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="sexeInput"> <b>Sexe</b></label>
          <select name="sexe" class="{{ternaryIf myErrors.sexe 'is-invalid' ''}} form-control"
            aria-describedby="sexeHelp" id="sexeInput">
            <option></option>
            {{#each sexes}}
            <option value={{@key}} {{ ternaryIf (iff ../personne.sexe '==' @key) 'selected' ''}}>
              {{ translate this}}</option>
            {{/each }}
          </select>
          {{#if myErrors.sexe }}
          <small id="sexeHelp" class="form-text text-muted">{{ myErrors.sexe }}</small>
          {{/if}}
        </div>
        <div class="form-group col-md-6">
          <label for="nationnaliteInput"><b>Nationnalité</b></label>
          <select name="nationnalite" class="{{ternaryIf myErrors.nationnalite 'is-invalid' ''}} form-control"
            aria-describedby="nationnaliteHelp" id="nationnaliteInput">
            <option></option>
            {{#each nationnalites}}
            <option value={{@key}} {{ ternaryIf (iff ../personne.nationnalite '==' @key) 'selected' ''}}>
              {{ translate this}}</option>
            {{/each }}
          </select>
          {{#if myErrors.nationnalite }}
          <small id="nationnaliteHelp" class="form-text text-muted">{{ myErrors.nationnalite }}</small>
          {{/if}}
        </div>
      </div>


      <input type="submit" class="btn btn-primary" value="Suivant"></button>
    </form>

  </div>
</div>

{{> "admin/footer"}}


</body>

</html>